.about {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--dashed {
    padding-left: 10px;
    border-left: 1px dashed $block-border;

    @media (min-width: $desktop-width) {
      border: none;
    }
  }
}

.about__img {
  margin-bottom: 10px;
}

.about__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  & span {
    font-size: 40px;
    line-height: 48px;
  }
}

.about__info {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 8px;
  text-align: center;
  line-height: 24px;
}

.about__more {
  &--first {
    margin-bottom: 32px;
  }
}
