.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 48px;
  padding: 12px 28px 12px 32px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: $basic-white;
  border-radius: 5px;
  color: $text-black;
  border: none;
  cursor: pointer;

  &:hover {
    background: $gradient;
    color: $basic-white;
    outline: 3px solid $text-black;

    & path {
      fill: $basic-white;
    }
  }

  &:active {
    padding-bottom: 18px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    outline: none;
  }

  &--main-nav {
    font-size: 16px;

    &:hover {
      background: $gradient;
      color: $basic-white;
      outline: none;

      & path {
        fill: $basic-white;
      }
    }
  }

  &--vaccine{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 328px;
    padding: 12px;
    margin: 0 auto;
    color: $basic-white;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    background-color: $button-vaccine;
  }

  @media (min-width: $desktop-width) {
    &--desktop-w275 {
      width: 275px;
    }

    &--desktop-w303-center {
      width: 303px;
      margin: 0 auto;
    }
  }
}
