.calculate {
  margin-left: 15px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    margin-left: 0;
  }
}

.calculate__wrapper {
  &--about {
    @media (min-width: $desktop-width) {
      grid-column: span 2;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  &--img {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: $desktop-width) {
      order: -1;
    }
  }
}

.calculate__about {
  margin-left: -17px;
  padding-left: 16px;
  margin-bottom: 30px;
  border-left: 1px dashed $block-border;

  @media (min-width: $desktop-width) {
    border: none;
    margin-left: 0;
    padding-left: 0;
  }
}

.calculate__label {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.calculate__bollar {
  position: absolute;
  top: 42px;
  left: 15px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: $calculate-input-color;
}

.calculate__value {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
  padding: 12px 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  border: 1px solid $calculate-input-border;
  border-radius: 300px 300px 300px 300px;
  background-color: inherit;
  color: $text-black;

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }

  &::placeholder {
    color: $calculate-input-color;
  }
}

.calculate__profit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  font-size: 26px;
  border-radius: 10px 10px 10px 10px;
  color: $basic-white;

  &--dark {
    max-width: 40%;
    background-color: $dark;
  }

  &--blue {
    max-width: 65%;
    background-color: $blue;
  }
}

.calculate__progress {
  width: 100%;
  min-height: 25px;
  padding-bottom: 8px;
  background: url("../../img/calculateProgress.png") no-repeat;
  background-size: contain;
  border-bottom: 1px dashed $vaccine-border;

  @media (min-width: $desktop-width) {
    background: url("../../img/calculateProgressDesktop.png") no-repeat;
    background-size: contain;
  }
}

.calculate__img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: 10px;
  background-color: $calculate-input-border;
}

.calculate__result {
  display: flex;
  align-items: center;
}

.calculate__bar {
  justify-self: flex-start;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 25px 25px 25px 25px;

  &--dark {
    background-color: $dark;
  }

  &--blue {
    background-color: $blue;
  }
}

.calculate__type {
  justify-self: flex-start;
}

