.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  border-left: 1px solid $contacts-grey;
  border-right: 1px solid $contacts-grey;

  @media (max-width: $tablet-width) {
    border-right: none;
  }

  @media (max-width: $mobile-width) {
    grid-column: span 2;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    border-top: 1px solid $contacts-grey;
    border-left: none;
    border-bottom: 1px solid $contacts-grey;
  }
}
