.form {
  display: flex;
  flex-direction: column;
  padding: 16px;

  &--top {
    // min-height: 430px;
    justify-content: space-between;

    & .form__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-between;
      padding: 24px;
      padding-left: 32px;

      & .form__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 303px;
      }
    }
  }

  &--bottom {
    justify-content: space-between;
    // min-height: 630px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 24px;
    background: url("../../img/formBottom.jpg") no-repeat;
    background-size: cover;
    border-radius: 20px;

    & .form__wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
    }

    @media (min-width: $desktop-width) {
      grid-column: span 3;
      min-height: 448px;
      padding-right: 336px;
      padding-left: 336px;
      margin: 0 auto;
      background: url("../../img/formBottomDesktop.jpg") no-repeat;
      background-size: cover;

      & .form__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 304px;
        margin: 0 auto;
        margin-bottom: 24px;
        min-width: 303px;
      }
    }
  }
}

.form__heading {
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 25px;
  line-height: 32px;
  color: $basic-white;

  &--center {
    text-align: center;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $desktop-width) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }
  }
}

.form input {
  padding-bottom: 4px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid $basic-white;
  background-color: inherit;
  color: $basic-white;
  opacity: 0.9;

  &::placeholder {
    color: $basic-white;
  }
}
