.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 200px;
  width: 100%;
  height: 860px;
  background: url("../../img/hero@1x.jpg") no-repeat $basic-blue;
  background-position: 50% 0;
  background-size: cover;
  color: $basic-white;

  @media (min-resolution: 2dppx) {
    background: url("../img/hero@2x.jpg") no-repeat $basic-blue;
    background-position: 50% 0;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 80px;
    height: 344px;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    margin-bottom: 200px;
    height: 235px;
  }
}

.hero__top-part {
  margin-right: 350px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

.hero__bottom-part {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width) {
    position: absolute;
    bottom: -180px;
  }
}

.hero__title {
  margin: 0;
  padding: 0;
  max-width: 420px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 24px;
    line-height: 36px;
  }
}

.hero__about {
  margin: 0;
  padding: 0;
  max-width: 400px;
  line-height: 170%;

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
    text-align: center;
  }

  @media (max-width: $mobile-width) {
    margin-right: 16px;
    margin-left: 16px;
    color: $nav-black;
  }
}
