.hero {
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 20px;
  max-width: 720px;
  // min-height: 705px;
  background: $gradient;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

  @media (min-width: $desktop-width) {
    grid-column: span 3;
    display: flex;
    max-width: none;
    // min-height: 488px;
  }
}

.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background-color: $calculate-input-border;

  @media (min-width: $desktop-width) {
    width: 640px;
    border-radius: 20px 0 0 20px;
  }
}
