.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: $gradient;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 2;
  box-shadow: 0 5px 15px rgba(231, 229, 229, 0.9);

  // &--closed {
  //   animation-name: bounceOut;
  //   animation-duration: 0.6s;
  //   animation-fill-mode: forwards;
  // }

  &--opened {
    display: block;
    animation-name: bounceIn;
    animation-duration: 0.5s;

    @media (min-width: $desktop-width) {
      animation: none;
    }
  }

  &--closed .main-nav__list {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  &--closed .main-nav__button {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      min-width: 250px;
      margin-left: 15px;
      padding: 15px 24px;
      border: 2px solid $text-black;
      font-size: 16px;
    }
  }

  &--opened .main-nav__button {
    margin-left: 24px;
    max-width: 275px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    box-shadow: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

// .main-nav--nojs .main-nav__list {
//   @media (min-width: $desktop-width) {

//   }
// }

.main-nav__list {
  background: $gradient;
  min-width: 320px;
  margin-top: 80px;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0;
    background: none;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  min-height: 28px;
  margin-bottom: 30px;
  padding: 5px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    width: initial;
    margin-right: 50px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &:hover {
    background-color: $vaccine1;
    border-radius: 5px;

    & a {
      color: $basic-white;
    }
  }

  &:active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
}

.main-nav__item a {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $basic-white;
  padding-left: 24px;

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $text-black;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 4px;
  right: 26px;
  display: block;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $basic-white;
  border: none;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: $text-black;
  box-shadow: 0 9px 0 0 $text-black, 0 18px 0 0 $text-black;
}

.main-nav--closed .main-nav__toggle {
  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  margin-top: 30px;
  background: initial; //inherit for development

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -1px;
    width: 32px;
    height: 5px;
    background-color: $basic-white;
    opacity: 0.6;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}
