.main-nav {
  display: flex;
  align-items: center;
  max-width: 1170px;
  background: $gradient;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    box-shadow: 0 5px 15px rgba(231, 229, 229, 0.9);

    &--closed .main-nav__list {
      display: none;
    }

    &--closed .main-nav__button {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  background: $gradient;

  @media (max-width: $desktop-width) {
    min-width: 320px;
    min-height: 434px;
    display: block;
    margin: 0;
    padding: 0;
  }
}

.main-nav__item {
  margin: 0 20px;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    width: 100%;
    min-height: 28px;
    margin: 0;
    margin-bottom: 30px;

    &:hover {
      background-color: rgba(254, 120, 101, 0.2);
    }
  }
}

.main-nav__item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $basic-white;
  padding-left: 24px;

  @media (max-width: $desktop-width) {
    display: block;
    width: 100%;
    min-height: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  &:hover {
    color: $basic-orange;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 4px;
  right: 26px;
  display: none;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $basic-white;
  border: none;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: $text-black;
  box-shadow: 0 9px 0 0 $text-black, 0 18px 0 0 $text-black;
}

.main-nav--closed .main-nav__toggle {
  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.main-nav--opened .main-nav__toggle {
  background: $gradient;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 13px;
    width: 32px;
    height: 2px;
    background-color: $basic-white;
    opacity: 0.6;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}
