.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 37px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    min-height: 100px;
  }
}
