.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;

  @media (max-width: $tablet-width) {
    justify-content: flex-start;
    min-height: 50px;
  }
}
