.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 37px;
  margin-bottom: 28px;
  padding-left: 24px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    justify-content: space-between;
    max-width: 1440px;
    min-height: 94px;
    margin: 0 auto;
    padding-right: 64px;
    padding-left: 64px;
    box-shadow: none;
  }
}
