.phone {
  display: flex;
  align-items: center;
  margin-left: 50px;

  &--margin-0 {
    margin-left: 0;
  }

  @media (max-width: $tablet-width) {
    &--only-desktop {
      display: none;
    }
  }
}

.phone__link {
  color: $phone-black;
  text-decoration: underline;

  &--black {
    margin-left: -35px;
    font-size: 20px;
    line-height: 32px;
    color: $basic-black;
    text-decoration: none;
  }

  &--orange {
    color: $basic-orange;
    line-height: 32px;
  }

  &:hover {
    color: $basic-orange;
  }

  &::before {
    content: "";
    background-image: url("../../img/phone-icon.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      fill: $basic-orange;
    }
  }
}

// .phone__icon {
//   fill: none;
//   stroke: $phone-black;
//   cursor: pointer;

//   &:hover {
//     stroke: $nav-hover;
//   }
// }
