.places-tab {
  position: relative;
  max-width: 902px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}

.places-tab__tabList {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);

  @media (max-width: $tablet-width) {
    margin-left: 22px;
    margin-bottom: 30px;
  }
}

.places-tab__tabItem {
  flex-grow: 1;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $nav-black;
  opacity: 0.3;
  cursor: pointer;

  &--active {
    color: $basic-orange;
    opacity: 1;
  }

  &--tablet-none {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--mobile-none {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.places-tab__wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.places-tab__contentItem {
  display: none;
  font-size: 24px;


  &--active {
    display: block;
  }
}

.places-tab__title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }
}

.places-tab__about {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  min-width: 390px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-width) {
    min-width: 290px;
  }
}

.places-tab__text {
  margin-right: 80px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.places-tab__img {
  object-fit: cover;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 415px;
  }
}
