.review {
  position: absolute;
  right: -270px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 342px;
  padding: 30px;
  background-color: $basic-white;

  @media (max-width: $tablet-width) {
    top: 490px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 322px;
  }

  @media (max-width: $mobile-width) {
    top: 680px;
    transform: translateX(-59%);
    max-width: 220px;
    margin-right: 25px;
    margin-left: 25px;
    padding: 25px;
  }
}

.review__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.review__about {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: $nav-black;
  opacity: 0.7;

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.review__author {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $nav-black;

  &--greece::before {
    content: "";
    background-image: url("../../img/vlada_golitsina.jpg");
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &--albania::before {
    content: "";
    background-image: url("../../img/marishka.jpg");
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &--macedonia::before {
    content: "";
    background-image: url("../../img/michail_kuzmin.jpg");
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &--montenegro::before {
    content: "";
    background-image: url("../../img/anastasiya_may.jpg");
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &--croatia::before {
    content: "";
    background-image: url("../../img/vladimir_moolitsin.jpg");
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
