.terms-and-policy__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-left: 32px;
    font-size: 14px;
    line-height: 24px;
  }
}

.terms-and-policy__list {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.terms-and-policy__item a {
  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.8;
  }
}
