.to-do {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    margin-bottom: 100px;

    & p {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.to-do img {
  align-self: center;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.to-do__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $vaccine1;
  background: $gradient; //Gradient color
  background-clip: text; //Gradient color
  -webkit-text-fill-color: transparent; //Gradient color

  @media (min-width: $desktop-width) {
    margin-right: 5px;
    margin-left: 5px;
  }
}
