.vaccine {
  display: flex;
  margin-bottom: 20px;
}

.vaccine__big {
  box-sizing: border-box;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    margin-left: 3px;
    max-width: 384px;
    display: flex;
  }
}

.vaccine__big--selected {
  box-shadow: 0px 2px 4px rgba(0, 104, 236, 0.75);
  border-radius: 10px;
}

.vaccine__bar {
  @media (min-width: $desktop-width) {
    min-height: 165px;

    &--mobile {
      display: none;
    }

    &--moderna-desktop {
      background: url("../../img/barModerna.png") no-repeat;
      background-size: contain;
      width: 24px;
    }

    &--astraZeneca-desktop {
      background: url("../../img/barAstraZeneca.png") no-repeat;
      background-size: contain;
      width: 24px;
    }

    &--pfizer-desktop {
      background: url("../../img/barPfizer.png") no-repeat;
      background-size: contain;
      width: 24px;
    }
  }
}

.vaccine__groupe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-left: 5px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    width: 100%;
    border-left: none;
  }
}

.vaccine__wrapper {
  flex-grow: 1;
  box-sizing: border-box;
  padding-left: 8px;
  margin-bottom: 48px;


  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.vaccine__wrapper:last-child {
  margin-bottom: 0;
}

.vaccine__name {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &--first::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background-color: $vaccine1;
    border-radius: 50%;
  }

  &--second::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background-color: $vaccine2;
    border-radius: 50%;
  }

  &--third::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background-color: $vaccine3;
    border-radius: 50%;
  }
}

.vaccine__percent {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: $vaccine1;
  background: $gradient; //Gradient color
  background-clip: text; //Gradient color
  -webkit-text-fill-color: transparent; //Gradient color
}

.vaccine__arrow {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 15px;
  }
}

.vaccine__img {
  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}
