/* Animation */

@keyframes bounceIn{
	0% {
		transform:translateX(320px);
	}
	100% {
		transform:translateX(0);
	}
}

@keyframes bounceOut{
	0% {
		transform:translateX(0);
	}
	100% {
		display: none;
		transform:translateX(320px);
	}
}
