//Colors
$basic-white: #ffffff;
$basic-black: #000000;
$text-black: #333333;
$text-black2: #222222;
$vaccine1: #006dd1;
$vaccine2: #004585;
$vaccine3: #000911;
$vaccine-border: #111111;
$block-border: #00bbf9;
$calculate-input-color: #a7a7a7;
$calculate-input-border: #e8e8e8;
$how-it-workBackground: #929193;
$button-vaccine: #0068ec ;


$dark: #393939;
$blue: #0aa7ff;

$nav-hover: #00b6f8;

$currencyPlus: #19c576;
$currencyMinus: #c51919;

$basic-orange: #fe7865;
$contacts-grey: #d7d9df;
$mobile-menu-grey: #fbf8f8;
$main-section: #bcbbbb;
$button-hover: #d1351f;

$gradient: linear-gradient(98.54deg, #0068ec -1.05%, #00bbf9 101.72%);

//Text colors
$nav-black: #2c2e3f;

//Header
$phone-black: #141517;

// Viewprts
$desktop-width: 1200px;
