//Colors
$basic-black: #000000;
$basic-blue: #81b3d2;
$basic-white: #ffffff;
$basic-orange: #fe7865;
$contacts-grey: #d7d9df;
$mobile-menu-grey: #fbf8f8;
$mobile-menu-link: #48494d;
$button-hover: #d1351f;

//Text colors
$nav-black: #2c2e3f;

//Header
$phone-black: #141517;

// Viewprts
$tablet-width: 1023px;
$mobile-width: 767px;
