//Colors
$basic-black: #000000;
$text-black: #333333;
$main-theme: #00bbf9;
$basic-blue: #81b3d2;
$basic-white: #ffffff;
$basic-orange: #fe7865;
$contacts-grey: #d7d9df;
$mobile-menu-grey: #fbf8f8;
$main-section: #bcbbbb;
$button-hover: #d1351f;

//Text colors
$nav-black: #2c2e3f;

//Header
$phone-black: #141517;

// Viewprts
$desktop-width: 992px;

